/*------------------SELECT ALL------------------*/

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

.container-box {
  display: flex;
  flex-direction: column;
  font-family: "Roboto Slab", serif;
  align-items: center;
}

::placeholder {
  color: #c3c4c6;
}

/*------------------TITLE SECTION------------------*/

.top-box {
  background-color: #e5f3f2;
  height: 300px;
  margin: 0;
  text-align: center;
  width: 100%;
}
h1 {
  color: #00a79d;
  font-size: 3.2rem;
  margin: 1.5rem 0;
}

h1 span {
  color: #6d6e71;
}


/*------------------INPUT FORM------------------*/

form {
  margin: 0 auto;
  max-width: 40rem;
}

input,
.save-btn {
  border: 0.06em solid #d1d2d3;
  box-sizing: border-box;
  font-size: 1.7rem;
  margin: 0.5rem;
  padding: 2px 5px;
  transition: all 0.2s linear;
  width: 100%;
}

.save-btn {

  background-color: #00a79d;
  border: none;
  color: #fff;
  cursor: pointer;
}

.save-btn:hover {
  background-color: #045e55;
}

/*------------------BOTTOM HALF------------------*/

.search-ideas {
  margin-top: 3rem;
}
/*------------------IDEA CARD------------------*/

.card-container {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: auto;
  width: 620px;
  text-align: left;
}

.card-content {
  align-items: center;
  display: inline;
}

.card-title {
  color: #6d6e71;
  display: inline-block;
  font-family: "Roboto Slab", serif;
  font-size: 1.5rem;
}

.card-body {
  color: #939598;
  font-family: "Open Sans", sans-serif;
  font-size: 100%;
}

/*------------------IDEA BUTTONS------------------*/

.btn {
  background-color: transparent;
  background-size: cover;
  border: 0;
  cursor: pointer;
  height: 1.5rem;
  width: 1.5rem;
}

.upvote-btn {
  background-image: url(./images/upvote.svg);
  float: left;
  margin-right: 10px;
}

.upvote-btn:hover {
  background-image: url(./images/upvote-hover.svg);
}

.downvote-btn {
  background-image: url(./images/downvote.svg);
  float: left;
}

.downvote-btn:hover {
  background-image: url(./images/downvote-hover.svg);
}

.delete-btn {
  background-image: url(./images/delete.svg);
  float: right;
  margin-right: 0.5rem;
  position: relative;
  top: 20px;
}

.delete-btn:hover {
  background-image: url(./images/delete-hover.svg);
}

.todo-rating {
  color: #939598;
  margin-left: 70px;
}

/*------------------MEDIA QUERIES------------------*/

@media only screen and (max-width: 800px) {
  .top-box {
    height: 350px;
  }
  form,
  .card-container {
    width: 90%;
  }

  .body-input {
    padding-bottom: 3rem;
  }
}
